Change request for [[first_name]] [[last_name]],

A request has been submitted to change the password for your account.  If this was not requested by you then you can simply ignore this message.  If you do want to change the password for your account you can click on the link below, that will direct you to a page where you can create a new Password.
Copy and paste the url below into your browser's address bar.

[[url]]