Welcome to Convirza for Advertisers, [[first_name]]!

You're almost done! Once you use on the link below, you'll be directed to a page where you can create a new Password and then your account will be activated.
Copy and paste the url below into your browser's address bar.

[[url]]