development:
 port: <<port>>
 salt: <<salt>>
 cthost     : <<cthost>>
 tokenLife  : <<tokenLife>>
 clientId   : <<clientId>>
 clientSecret : <<clientSecret>>
 internal_key: <<internal_key>>
 GETMEDIA_HOST: <<GETMEDIA_HOST>>
 GETMEDIA_PATH: <<GETMEDIA_PATH>>
 LOOKER_HOST: <<LOOKER_HOST>>
 LOOKER_CLIENTID: <<LOOKER_CLIENTID>>
 LOOKER_SECRET: <<LOOKER_SECRET>>
 LOOKER_USERID: <<LOOKER_USERID>>
 ZUORA_HOST: <<ZUORA_HOST>>
 ZUORA_KEY: <<ZUORA_KEY>>
 ZUORA_SECRET_KEY: <<ZUORA_SECRET_KEY>>
 ZUORA_REST_HOST: <<ZUORA_REST_HOST>>
 CALLER_ENCRYPTION_ALGORITHM: <<CALLER_ENCRYPTION_ALGORITHM>>
 CALLER_ENCRYPTION_KEY: <<CALLER_ENCRYPTION_KEY>>
 CALLER_ENCRYPlTION_IV: <<CALLER_ENCRYPlTION_IV>>
 SUPPORT_EMAIL: <<SUPPORT_EMAIL>>
 DEV_EMAIL: <<DEV_EMAIL>>
 DRIP_ACCOUNT_ID: <<DRIP_ACCOUNT_ID>>
 DRIP_TOKEN: <<DRIP_TOKEN>>
 CALLER_ENCRYPTION_ALGORITHM: <<CALLER_ENCRYPTION_ALGORITHM>>
 CALLER_ENCRYPTION_KEY: <<CALLER_ENCRYPTION_KEY>>
 CALLER_ENCRYPTION_IV: <<CALLER_ENCRYPTION_IV>>
 LOOKER_HOST_URL: <<LOOKER_HOST_URL>>
 EXCLUDED_CTR_ACCOUNTS: <<EXCLUDED_CTR_ACCOUNTS>>
 memcached:
  server: <<server>>
  port: <<port>>
  lifetime: <<lifetime>>
  refreshlife: <<refreshlife>>
 mongoose:
  uri   : <<uri>>
