{
    "staging": {
        "termType": "EVERGREEN",
        "productRatePlanId": "<<productRatePlanId>>",
        "productRatePlanChargeId": "<<productRatePlanChargeId>>",
        "collect": false,
        "subscriptionId": 9
    }
}

